/* BODY */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER NAV*/

header {
    background-color: #1F2937;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}

.headerLogo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    color: #E5E7EB;
}

/* HEADER */

.headerInt {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 100px 15%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8  ;
}

.headerText {
    color: #E5E7EB;
    font-size: 18px;
    line-height: 150%;
}

button {
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
    padding: 9px 25px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.headerImg {
    max-height: 250px;
    width: auto;
}

/* MAIN */

/* SECTION 1 */

.sectionRandomInfo {
    padding-bottom: 150px;
}

h2 {
    font-size: 36px;
    text-align: center;
    padding: 50px;
}

.flexthis {
    flex-shrink: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

/* .boxRow {
    flex-shrink: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;
} */

.boxText {
    font-weight: 100;
    width: 150px;
    text-align: center;
    color: #525B69;
    padding-top: 4px;
    padding-left: 4px;
}

/* .boxTextRow {
    flex-shrink: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 58px;
    padding: 5px;
} */

/* SECTION 2 */

.quote {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.quoteText {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoteAutor {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/* SECTION 3 */

.singupBox {
    display: flex;
    background-color: #3882F6;
    padding: 50px 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.singupText {
    color: #E5E7EB;
    font-size: 18px;
}

#signupbtn {
    border: 3px solid #FFFFFF;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding: 50px;
}

/* RESPONSIVE */
@media(max-width: 996px) {
    .headerImg {
        height: 150px;
    }
}

@media(max-width: 707px) {
    .headerImg {
        height: 100px;
    }
    .headerInt {
        flex-direction: column;
    }
    .singupBox {
        flex-direction: column;
    }
    #signupbtn {
        margin-top: 10px;
    }
}